{% extends 'base.html.twig' %}

{% block title %}E - Commerce SF5!{% endblock %}

{% block body %}

    <h1>Nos Produits</h1>
<div class="row">
    {% for i in 1..3 %}
    <div class="col">
        <div class="card">
            <img src="https://picsum.photos/200/200" class="img-fluid" alt="nos produits">
            <div class="card-body">
                <h4 class="card-title">{{ 'Super Produit' }}</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, perspiciatis.</p>
                <a href="#" class="btn btn-primary btn-sm">Details</a>
                <a href="#" class="btn btn-success btn-sm">Ajouter</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <hr class="hr mt-5" />
    <h2>Un service irreprochable</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, quo!</p>
</div>
    <div class="row">
        {% include 'shared/_assurance.html.twig' with  {
            'color' : 'bg-primary',
            'icone' : 'fa-truck',
            'text' : "Lorem ipsum dolor sit amet, consectetur asectetur asectetur adipisicing elit. Provident, quo!"
        } %}

        {% include 'shared/_assurance.html.twig' with  {
            'color' : 'bg-success',
            'icone' : 'fa-check',
            'text' : "Lorem ipsum dolor sit amet, consectetur asectetur asectetur adipisicing elit. Provident, quo!"
            } %}

        {% include 'shared/_assurance.html.twig' with  {
            'color' : 'bg-warning',
            'icone' : 'fa-lock',
            'text' : "Lorem ipsum dolor sit amet, consectetur asectetur asectetur adipisicing elit. Provident, quo!"
        } %}
    </div>

{% endblock %}